RewriteEngine On
RewriteRule ^index.html$ index.php [L]
RewriteRule ^gioi-thieu.html$ gioithieu.php [L]
RewriteRule ^tin-tuc.html$ tintuc.php [L]
RewriteRule ^lien-he.html$ lienhe.php [L]
RewriteRule ^index.html$ index.php [L]
RewriteRule ^tim-kiem.html$ search.php [L]
RewriteRule ^dang-nhap.html$ login.php [L]
RewriteRule ^dang-ky.html$ register.php [L]
RewriteRule ^gio-hang.html$ cart.php [L]
RewriteRule ^dat-hang.html$ dathang.php [L]
RewriteRule ^ket-qua-tim.html$ ketquatim.php [L]
RewriteRule ^xoa-gio-hang.html$ xoa_gio_hang.php [L]
RewriteRule ^thoat-ra.html$ logout.php [L]
RewriteRule ^thong-bao.html$ thongbao.php [L]
RewriteRule ^lien-he-thanh-cong.html$ lienhethanhcong.php [L]
RewriteRule ^category(.*)/(.*)/(.*).html$ layout_chitietsanpham.php?cat=$1&id=$2 [L]
RewriteRule ^danhmuc(.*)/(.*).html$ layout_sanpham.php?cat=$1 [L]
RewriteRule ^tintuc(.*)/(.*).html$ chi_tiet_tin.php?id=$1 [L]
RewriteRule ^(.*)/(.*).html$ dathang.php?masp=$1 [L]